body {
    background-image: url(photos/paper4.png);
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    padding-top: 100px;
    margin: 0; 
}

#news {
    width: 50%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
    margin-top: 100px;
}

.news-item {
    background-color: white;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease;
}

.news-item:hover {
    transform: translateY(-10px); 
}

.news-item h2 {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #684883;
}

.news-item p {
    font-size: 14px;
    margin-bottom: 15px;
}

.news-item p strong {
    font-size: 14px;
    color: black;
}

.news-item a {
    text-decoration: none;
    color: #684883;
    font-weight: bold;
}

.news-item a:hover {
    text-decoration: underline;
}

.news-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
}

hr {
    border: 1px solid #684883;
    margin: 40px 0;
}

@media (max-width: 1024px) {
    #news {
        width: 80%; 
        margin: 30px auto; 
    }

    .news-item h2 {
        font-size: 20px; 
    }

    .news-item p {
        font-size: 15px; 
    }

    .news-image {
        max-height: 250px; 
    }
}

@media (max-width: 767px) {
    #news {
        width: 90%; 
    }

    .news-item {
        padding: 15px; 
    }

    .news-item h2 {
        font-size: 18px; 
    }

    .news-item p {
        font-size: 14px; 
    }

    .news-image {
        max-height: 200px; 
    }
}

@media (max-width: 480px) {
    #news {
        width: 100%; 
    }

    .news-item {
        padding: 10px; 
    }

    .news-item h2 {
        font-size: 16px; 
    }

    .news-item p {
        font-size: 12px; 
    }

    .news-image {
        max-height: 150px; 
    }
}
